.create_container {
  .page_wrap {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .safeArea {
    height: calc(env(safe-area-inset-bottom) + 120px);
  }
}
