.countDown {
  position: absolute;
  top: 154px;
  right: 0;
  box-sizing: border-box;
  height: 28px;
  padding: 5px 17px 6px 16px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px 0 0 100px;
}
