.cancelApply_wrap {
  position: relative;
  width: 300px;
  padding: 30px 26px;
  box-sizing: border-box;

  .desc {
    padding: 0 24px 8px;
    text-align: center;
    line-height: 150%;
    font-size: 16px;
    color: #666;
  }

  .btn_wrap {
    padding: 15px 0 0;
    display: flex;
    justify-content: center;
    .cancel {
      background: #fff;
      border: 1px solid #fcda00;
    }
    .confirm {
      background: #fcda00;
    }
    .btn {
      margin: 0 auto;
      width: 250px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 32px;
      font-size: 18px;
      font-weight: 500;
      color: #544300;
    }
  }
}
