.modalAlert {
  padding: 10px 0;
  .content {
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .confirmBtn {
    background-color: #ff584f;
    width: 200px;
    height: 44px;
    border-radius: 22px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto 10px;
  }
}
