.carouselOuter {
  position: relative;
  height: 375px;
  .carouselPage {
    position: absolute;
    right: 16px;
    bottom: 19px;
    padding: 5px 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0.43);
    border-radius: 12px;
  }

  .carouselWp {
    width: 100vw;
    height: 100vw !important;

    ul {
      height: 100vw !important;
    }

    video {
      width: 100vw;
      height: 100vw;
    }

    img {
      width: 100%;
    }
  }
}
