.addressContainer {
  :global {
    .adm-input-element {
      font-size: 14px;
    }
    .adm-text-area-element {
      font-size: 14px;
    }
    .adm-form-item-feedback-error {
      display: none;
    }
    .adm-form-item-required-asterisk {
      display: none;
    }
    .adm-list-item-content-main {
      padding: 16px 0;
    }
    .adm-list-item-content-prefix {
      padding: 16px 0 !important;
      width: 90px;
    }
  }
  .btnWrap {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    .btn {
      height: 40px;
      width: 280px;
      background-color: #ff715c;
      border-radius: 60px;
      color: #fff;
      overflow: hidden;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
