.zoneCodeInput {
  .placeholder {
    font-size: 14px;
    color: #ccc;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #9a9a9a;
    padding-right: 10px;
    .icon {
      font-weight: 800;
    }
  }
}
