.cancelApply_wrap {
  position: relative;
  width: 336px;
  padding: 32px 28px;
  box-sizing: border-box;

  .desc {
    padding: 0 12px 16px;
    text-align: left;
    line-height: 150%;
    font-size: 16px;
    color: #666;
  }
  .btn_wrap {
    padding: 15px 0 0;
    display: flex;
    justify-content: center;
    .cancel {
      background: #fff;
      border: 1px solid #fcda00;
    }
    .confirm {
      background: #fcda00;
    }
    .btn {
      margin: 0 auto;
      width: 280px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 32px;
      font-size: 18px;
      font-weight: 500;
      color: #544300;
    }
  }
}
