@import './style/global.less';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: PingFangSC, 'Microsoft YaHei', Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center; /* PC 端居中 */
  background: #f0f0f0; /* 可选，两边空白填充色 */
}

#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  background: #f5f5f9;
}

* {
  box-sizing: border-box;
}
/* PC 端限定最大宽度：只有在宽屏下才生效 */
// @media screen and (min-width: px) {
//   #root {
//     max-width: 375px;
//   }
// }
